body{
    background-color: rgb(246, 255, 0);
   
}

p{
    background-color: rgb(251, 255, 0);
    color: rgb(0, 0, 0);
    margin: 1px;
    padding: 5px;
    font-size: 20px;
    width: 40%;
}
img{
    
    box-shadow: 26px 14px 60px 0px rgba(0,0,0,0.75)
}

#container{ 
 width: auto;   
 background-color: rgba(246, 255, 0, 0.861);
 height: auto;
 display: flex;
 flex-direction: column;
}

.header{
    background-color: rgb(255, 0, 238);
    height: 300px;
    display: flex;
    align-items: center    ;
}

.navi{
    background-color: black;
    height: auto;
}
.main{
    display: flex;

}
.content{
    background-color: rgb(255, 0, 0);
    flex:60%;
}
.sidebar{
    background-color: rgb(104, 12, 165);
    flex:40%;
}
#heading{
     width: 200px;
     height: 70%;

}
.post{
    display: flex;
height: 400px;
}
.post img{
height: 400px;
    flex: 30;
}
.postT{
    flex: 70%;
}
.footer{
background-color:rgb(0, 255, 60);
height: auto;
display: flex;
padding: 10px;
margin: 10px;
text-align: center;
}
.footer img{
    flex: 10%;
}
#menu1{
    position: relative;
    display: block;
    width:100%;
    height: auto;
    z-index: 10;
}
#menu1 ul{
    position: relative;
    display: block;
    width: 100%;
    height:auto;
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu1 > ul::after{
    display:block;
    width: 0;
    clear:both;
    content: "";
}
#menu1 ul li{
    position:relative;
    display:block;
    float:left;
    width: auto;
    height: auto;
}
#menu1 ul li a{
    display: block;
    padding: 10px;
    font-size: 14px;
    line-height: 1.3em;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    height: 38px;
    box-sizing: border-box;
    background-color: #353535;
    color: #ff0000;
    border: solid 2px #ff0000;
    border-radius: 5px;
}
#menu1 ul li ul{
    position: absolute;
    top:40px;
    left: 0;
    display:none;
    width:200px;
    background-color: black;
}
#menu1 ul li:hover> ul{
    display:block;
}
#menu1 ul li ul li{
    float:none;
    width:100%;
}
#menu1 ul li ul li a{
    background-color: #353535;
    color: #ff0000;
    border: solid 2px #ff0000;
    border-radius: 5px;
}
#menu1 ul li:hover a{
    background-color: #353535;
    color:black;
    border: solid 2px #ffffff;
}
#menu1 ul li ul li:hover a{
    background-color: #353535;
    color: #ff0000;
    border: solid 2px #ff0000;
}
.track{
    margin: 10px;
}
.element{
    width: 100%;
}
.post .text{
    flex: 7%;
    height: 500px;
align-items: 1;
}
.ll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.niz{
 display: flex;
}
.bar{
    height: 8px;
    width: 30px;
    margin: 10px;
    cursor: pointer;
    background-color: #ffffff;
    opacity: .5;
    border-radius: 10px;
    transition: all .4s ease;
}
.bar :hover{
    opacity: .8;
    transform: scale(1.1);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;

}
.slide{
    width: 25%;
    transition:all .6s ease;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left:0 ;
}
#r2:checked ~ .s1{
    margin-left:-25% ;
}
#r3:checked ~ .s1{
    margin-left:-50% ;
}
#r4:checked ~ .s1{
    margin-left:-75% ;
}